/*This is the CSS stylesheet for my connect four game, specifically the game that corresponds to the vanilla_recursive.js*/

header {
	position: relative;
	top: -30px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	color: black;
	background-color: white;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 200px;
	/*border: 2px solid black;*/
	height: 200px;
	min-width: 620px;

}

header:hover {
	color: #e2d436;
}


body {
	text-align: center;
	background-color: white;
	color: black;
	font-family: 'Nanum Pen Script', cursive;
	/*border: 2px solid black;*/
	font-size: 60px;
	min-width: 620px;
}

.how_to_enter {
	position: relative;
	top: -50px;
	/*border: 2px solid black;*/
	margin: 0 auto;
	font-size: 20px;
}

.instructions {
	position: relative;
	top: -30px;
	/*border: 2px solid black;*/
	margin: 0 auto;
	font-size: 30px;
	max-width: 800px;
}

.cartoon {
	position: relative;
	top: -30px;
/*	border: 2px solid black;*/
	margin: 0 auto;
	padding: none
}

.input{
	position: relative;
	top: -30px;
	outline: none;
	height: 30px;
	border: 0px;
	border-bottom: 2px dotted black;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
	/*border: 2px solid transparent;*/
	background-color: transparent;
	color: black;
	width: 60px;
	text-align: center;
	margin: 0 auto;
}

.input:Hover{
	border-bottom: 5px dotted #b21c05;
}

.wrong_value {
	position: relative;
	top: -30px;
	border: 5px dotted #b21c05;
	border-radius: 10px;

}

.warning{
	position: relative;
	top: -30px;
	color: #b21c05;
	font-size: 20px;
}

.in_game{
	height: 200px;
	font-size: 125px;
/*	border: 2px dotted black;*/
}

.in_game:Hover{
	color: black;
}

#playSpace {
	display: grid;
	grid-gap: 10px;
}
table {
	margin: 0 auto;
	max-width: 1300px;
}
td {
	/*font-size: 40px;*/
	color: black;
	border: 2px dotted black;
	border-radius: 10px;
	width: 20vw;
	height: 10vh;
	margin: 0 auto;
}

.x_piece{
	color: #b21c05;
}
.o_piece{
	color: #e2d436;
}
.winner_board{
	border: 5px dotted #b21c05;
}
.print_winner{
	font-size: 200px;
	color: red;
}

.reset {
	width: 100px;
	height: 50px;
	margin: 25px auto;
	background-color: transparent;
	border: 2px dotted #b21c05;
	border-radius: 10px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 35px;
	color: #b21c05

}

.reset:hover {
	color: #e2d436
	border: 3px dotted #e2d436;
}









